/* css  */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.para h3, p{
text-align: left;
}

.para{
  text-align: left;
  }
#space{
  display: flex;
}
#btn1{
  margin-left: 450px;
  padding-left: 20px;
  padding-right: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
  display: flex;
  background-color: #000000;
}
header a{
  color: aliceblue;
  text-decoration: none;
  padding-left: 40px;
}
header nav{
  margin-top: 50px;
}
header a:hover{
  color: rgb(252, 206, 80);
}
header img{
  width: 120px;
}
footer{
  background-color: #030122;
  background-size: cover;
  text-align: center;
  font-size: large;
  color: #fcfcfc;
  padding: 50px;
}
footer img{
  width: 150px;
}
footer a {
  color: #242424;
  text-decoration: none;
  size: 50px;
  margin-left: 40px;

}

.icons{
  margin-left: 10px;
  background-color: rgb(250, 250, 250);
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 20px;
}

#Movie11{
  width: 800px;
  height: 400px;
}
#Movie1{
  width: 800px;
  height: 400px;
}
#Movie2{
  width: 800px;
  height: 400px;
}
#Movie3{
  width: 800px;
  height: 400px;
}
.carousel-inner{
  text-align: center;

  background-repeat: no-repeat;
  background-size: cover;

}

#m1picture{
  width: 250px;
  height: 315px;
}
#picVed{
  display: flex;
  justify-content: space-between;
  padding-left: 300px;
  padding-right: 330px;
}
#m1Header{
 padding-left: 150px;
}
#Gpicture{
  padding-left: 150px;
 width: 190px;
 height: 40px;
}
#Line{
  padding-left: 150px;
  width: 300px;
  height: 7px;
}
hr{
  list-style:decimal;
  color: rgb(165, 165, 165);
}
#Des1{
  display: flex; 
}
#mInfo1{
  padding-left: 300px;
  padding-right: 50px;
  padding-top: 100px;
  width: 80%;
}
#p1{
  margin-left: 30px;
  padding-right: 250px;
  padding-top: 100px;
}
/* review section */
#reviewpart{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}

#testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}
.testimonial-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-heading h1{
  font-size: 2.7rem;
  font-weight: 500;
  color: #111010;
  padding: 10px 20px;
}
.testimonial-heading span{
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  
}
.testimonial-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
  padding-bottom: 100px;
}
.testimonial-box{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.testimonial-box:hover{
  background-color: #0c439631;
  border-radius: 10px;
  
  border-color: #000000;
  
}
.profile-img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;
}
.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span{
  color: #979797;
  font-size: 0.8rem;
}
.reviews{
  color: #f9d71c;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p{
  font-size: 0.9rem;
  color: #4b4b4b;
}
.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media(max-width:1060px){
  .testimonial-box{
      width:45%;
      padding: 10px;
  }
}
@media(max-width:790px){
  .testimonial-box{
      width:100%;
  }
  .testimonial-heading h1{
      font-size: 1.4rem;
  }
}
@media(max-width:340px){
  .box-top{
      flex-wrap: wrap;
      margin-bottom: 10px;
  }
  .reviews{
      margin-top: 10px;
  }
}

#UserReview{
  width: 700px;
  height: 300px;
  margin-top: 50px;
}
#star{
  width: 30px;
  height: 30px;
}
#WOCT{
  text-decoration: underline;
  margin-top: 100px;
}
#child1{
  display: flex;
}
#child2{
  display: flex;
}
#child3{
  display: flex;
}
#child4{
  display: flex;
  margin-bottom: 50px;
}
.child img{
  width: 200px;
  height: 300px;
  margin-left: 150px;
  margin-right: 50px;
}
.child{
  margin-top: 50px;
  margin-right: 100px;
}

/* review page  */
.feedback{
  width: 100%;
  max-width: 780px;
  background: #fff;
  margin: 0 auto;
  padding: 15px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
}
.survey-hr{
margin:10px 0;
border: .5px solid #ddd;
}
.star-rating {
 margin: 25px 0 0px;
font-size: 0;
white-space: nowrap;
display: inline-block;
width: 175px;
height: 35px;
overflow: hidden;
position: relative;
background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
background-size: contain;
}
.star-rating i {
opacity: 0;
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 20%;
z-index: 1;
background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
background-size: contain;
}
.star-rating input {

opacity: 0;
display: inline-block;
width: 20%;
height: 100%;
margin: 0;
padding: 0;
z-index: 2;
position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
opacity: 1;
}
.star-rating i ~ i {
width: 40%;
}
.star-rating i ~ i ~ i {
width: 60%;
}
.star-rating i ~ i ~ i ~ i {
width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
width: 100%;
}
.choice {
position: fixed;
top: 0;
left: 0;
right: 0;
text-align: center;
padding: 20px;
display: block;
}
span.scale-rating{
margin: 5px 0 15px;
  display: inline-block;
 
  width: 100%;
 
}
span.scale-rating>label {
position:relative;

outline:0 !important;
  border: 1px solid grey;
  height:33px;
  margin: 0 5px 0 0;
width: calc(10% - 7px);
  float: left;
cursor:pointer;
}
span.scale-rating label {
position:relative;

outline:0 !important;
  height:33px;
    
  margin: 0 5px 0 0;
width: calc(10% - 7px);
  float: left;
cursor:pointer;
}
span.scale-rating input[type=radio] {
position:absolute;

opacity:0;
outline:0 !important;
  /*border-right: 1px solid grey;*/
  height:33px;

  margin: 0 5px 0 0;

width: 100%;
  float: left;
cursor:pointer;
z-index:3;
}
span.scale-rating label:hover{
background:#fddf8d;
}
span.scale-rating input[type=radio]:last-child{
border-right:0;
}
span.scale-rating label input[type=radio]:checked ~ label{


  margin: 0;
background:#fddf8d;
}
span.scale-rating label:before
{
content:attr(value);
  top: 7px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  vertical-align: middle;
z-index:2;
}

/* review section */
#reviewpart{
  margin: 0px;
  padding: 0px;
  font-family: poppins;
  box-sizing: border-box;
}

#testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}
.testimonial-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-heading h1{
  font-size: 2.7rem;
  font-weight: 500;
  color: #111010;
  padding: 10px 20px;
}
.testimonial-heading span{
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.testimonial-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}
.testimonial-box{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.profile-img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;
}
.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span{
  color: #979797;
  font-size: 0.8rem;
}
.reviews{
  color: #f9d71c;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p{
  font-size: 0.9rem;
  color: #4b4b4b;
}
.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media(max-width:1060px){
  .testimonial-box{
      width:45%;
      padding: 10px;
  }
}
@media(max-width:790px){
  .testimonial-box{
      width:100%;
  }
  .testimonial-heading h1{
      font-size: 1.4rem;
  }
}
@media(max-width:340px){
  .box-top{
      flex-wrap: wrap;
      margin-bottom: 10px;
  }
  .reviews{
      margin-top: 10px;
  }
}
::selection{
  color: #ffffff;
  background-color: #252525;
}


/* all other */
body{
  background-color: rgb(255, 255, 255);
}
#cardssection {display: flex;
text-align: center;}
#cardssection img{width: 200px;
margin-left: 90px;
margin-right: 90px;
color:aliceblue;

}
#fabbanklogo {width: 200px;}
#loginbox{ background-color: rgba(13, 4, 22, 0); border-style:double ; border-color: white; text-align: left;  color:aliceblue; padding: 30px;}


header a{
    color: #4a6aa7;;

}
#outerbox {display:flex;
   align-items: center;
  justify-content: space-evenly;
  background-color: #4a6aa7;
  color:rgb(240, 240, 240);
  
  }
#section2 {
  display:flex; }
#ModuleTwo{display: flex;
  padding:80px;
  }
#leftContent
{padding: 40px;
}
#rightContent{ 
    background-size: cover;
    padding: 150px;
     display: grid;
     grid-template-columns: 100%;
     }
   #whiteblock{ background-color: aliceblue; padding: 30px;}
   .cardimg
   {
    height: 150px;
    width:auto;
    /* border-style: groove;
    border-width: 15px; */
   }
   h1
   {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   .cardcontent
   {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: bold ;
    
   }
   header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(66, 155, 233);
   }

   nav a {
    margin-left: 75px;
    text-decoration: none;
    font-size: large;
    font-size: large;
    padding: 30px;

    
   } 
   footer{
    align-items: center;
    text-align: center;
    background-color: #4a6aa7;
    text-decoration: none;
    padding-top: 20px;
   }
  a{
    color: aliceblue;
   }
 .body2link
 {color: #4a6aa7;}
   #footerNav 
   {font-size: 15px;
    margin-top: 50px;
  
    border-right: 1px solid rgb(5, 7, 0) ;}
   svg{margin: 5px;}
   footer p{color:white;}
   #leftimg
   {
    height: 300px;
   }

   /* -----------------------------signup style------------------------------------  */

   @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.wrapper{
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 28px;
  border-radius: 12px;
  background: #4a6aa7;
}
.wrapper form{
  margin-top: 30px;
  
}
.wrapper form .input-box{
  height: 52px;
  margin: 18px 0;
  margin-bottom: 70px;
  
}

form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
  
}
.input-box input:focus,
.input-box input:valid{
  border-color: #4a6aa7;
}
form .policy{
  display: flex;
  align-items: center;
}
form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button input{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #4a6aa7;
  cursor: pointer;
}
.input-box.button input:hover{
  background: #4a6aa7;
}

form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #4a6aa7;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}


/* card section style  */

#cardssection {display: flex;
  text-align: center;}
  #cardssection img{width: 200px;
  margin-left: 90px;
  margin-right: 90px;
  background-color: #1F4690;
  color:aliceblue;
  
  }
  #brtdt
  { padding-right: 20px;}